*{
    background-color: #C49899;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;}
  
    main {
      flex: 1;
    }
  
    header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #875D5E;
    padding: 10px;
    margin: 10px;
    border-radius: 0px 20px 0px 20px;
  }
    header h1{
    background-color: #875D5E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*margin-right: 550px; revisar ya que sin este margin se ve responsive el h1*/
    position: relative;
  }
  .header-container {
    display: flex;
    justify-content: space-between; /* Distribuye espacio entre el h1 y el menú */
    align-items: center; /* Centra verticalmente el contenido */
    padding: 20px; /* Espacio alrededor del contenedor */
    background-color: #875D5E;
    padding: 20px;
    position: relative; /* Necesario si quieres que el z-index de otros elementos funcione correctamente */
    z-index: 15; /* El header debe estar por encima del overlay */
}

  .subtitulo{
    display: flex;
    justify-content: center;
  }
/*menú hamburguesa*/
.bars-menu{
  background:#875D5E;
  width: 30px;
  height: 30px;
  top:30%;
  left: -50%;
  position: absolute;
  cursor:pointer;
  display: none;
  z-index: 30;
}
 
.bars-menu span{
  display: block;
  width: 100%;
  height: 2px;
  background:#333;
  border-radius: 10px;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition:all 300ms;
}

.activeline1-bars-menu{
  transform: rotate(45deg) translate(-2px, 1px);
}
.activeline2-bars-menu{
 opacity: 0;
 margin-left: -40px;
}
.activeline3-bars-menu{
  transform: rotate(-45deg) translate(-4px, 2px);
}
@media screen and (min-width: 400px) {

  .header-container {
    display: flex;
    flex-direction: column; /* Coloca el h1 y el menú uno encima del otro */
    align-items: center; /* Centra el contenido horizontalmente */
}
  .bars-menu {
    display: block; /* Mostrar el menú de hamburguesa */
  }
  
  .menu {
    display: none; /* Ocultar el menú de navegación por defecto */
  }

  .menu_active {
    display: block; /* Mostrar el menú de navegación cuando está activo */
  }
}
/* Overlay para aplicar la opacidad al fondo */
.overlay {
  position: fixed; /* Fija el overlay para que cubra toda la ventana */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  z-index: 10; /* Debe estar sobre el contenido principal, pero debajo del menú */
  display: none; /* Inicialmente oculto */
}

/* Mostrar el overlay cuando el menú está activo */
.menu_active ~ .overlay {
  display: block;
}
  
.menu {
  z-index: 25; /* El menú debe estar encima del overlay */
}
  nav { 
    background-color: #333;
    position: absolute;
    gap: 1rem;
    padding: 2rem;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: end;
    top: 0;
    right: 0;
    bottom: 0;}
  
    a {
    background-color: #333;
    color:white;
   
   
  }*/
  
  .principal{
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: 0% 20%;
  
  }
  
  footer{
    display: flex;
    justify-content: left;
    background-color: #A28B8C;
    padding: 10px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  footer p{
    background-color: #A28B8C;
  }
  /* BARRA DE INTERACCION */
  
  form {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre los elementos */
  }
  
  select {
    flex: 1;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
  }
  
  button[data-testid="button-clear"] {
    font-size: medium;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: #fff;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #computeStatsButton {
    font-size: medium;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: #fff;
    border-radius: 10px;
    cursor: pointer;
  }
    
  /* DISEño TARJETAS */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
  }
  
  .card-container{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    margin: 10px;
    flex: 0 1 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.2s;
    padding: 10px;
  }
  
  
  .card-container * {
    background-color: transparent;
  }
  
  .card-container:hover{
    transform: scale(1.05);
  }
  
  .card-container img{
    max-width: 90%;
    border-radius: 8px;
    margin: auto;
    display: block;
  }
  
  .card-container .card-title {
    font-weight: bold;
    font-size: large;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px;
    display: block;
  }
  
  .card-container .short-description {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .card-container [itemprop="alcoholContent"],
  .card-container [itemprop="calorias"],
  .card-container [itemprop="tiempoDePreparacion"] {
      font-weight: bold;
  }
  
  /*ESTADISTICAS*/
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #computeStatsButton {
    padding: 10px 20px;
    font-size: medium;
  }
  
  #statsResult {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .stat-box {
    flex: 1;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .stat-box.result {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #333;
    color: #333;
    font-weight: bold;
  }
  
  /*DISEñO RESPONSIVE*/
  @media screen and (min-width: 768px) {
    .card {
      flex: 0 1 calc(50% - 20px); /* Dos tarjetas por fila en tablets */
    }
  }
  @media screen and (min-width: 1024px) {
    .card {
      flex: 0 1 calc(25% - 20px); /* tres tarjetas por fila en escritorio */
    }
  }
  @media screen and (max-width: 600px) {
    form {
        flex-direction: column;
    }
    
  }
/*CHAT GRUPAL*/
.h1-group {
  display: flex;
  justify-content: center;
  background-color: #A28B8C;
  padding: 20px;
  margin: 0;
}

.h2-group {
  display: flex;
  justify-content: center;
  background-color: #A28B8C;
  padding: 20px;
  margin: 0;
}

.user-message {
  background-color: #c4a59e;
  padding: 8px;
  border-radius: 5px;
  margin: 5px 0px;
}

/* Estilo para el mensaje del bot */
.bot-message {
  background-color: lightgreen;
  padding: 8px;
  border-radius: 5px;
  margin: 5px 10px;
}
/*desaparece el ul de cocktails*/
.hidden {
  display: none;
}
